.current-user-typing {
	height: 20px;
    display: block;
    color: gray;
    margin: 2px;	
}

.app-container {
	height: calc(100% - 58px);
	padding: 24px;
	background-color: rgba(0, 0, 0, 0.03);
}